{% extends 'store/base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecom</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptatibus eum, libero placeat
                    hic quibusdam modi unde, accusamus optio praesentium quos. Blanditiis vero aspernatur et praesentium
                    optio sit ex eius ab! Provident soluta facere alias iusto officiis. Ducimus esse harum accusamus,
                    adipisci officia dolorem quaerat vero! Aliquid, facere sed nesciunt ratione nam sequi rerum, quasi
                    exercitationem obcaecati autem error magni harum sint molestias atque iusto adipisci optio esse vel
                    mollitia perferendis nobis? Corporis obcaecati vel libero sit eligendi quis odit id ratione ad
                    corrupti, debitis dolore ipsam! Voluptatem qui aspernatur culpa officia ea animi ipsa quasi, velit
                    ex enim harum ad magnam quam iure assumenda cupiditate exercitationem accusantium debitis nisi! 
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque! Quam reprehenderit facilis ex adipisci, laborum, in harum expedita laudantium sit laboriosam rerum veniam
                    aspernatur. Magni, temporibus inventore rem repudiandae amet similique? Dolorum doloribus quidem
                    explicabo tempore, sunt fuga excepturi in, earum voluptatibus perferendis ex libero amet molestias
                    modi, at pariatur adipisci totam quis impedit! Laborum molestiae aperiam asperiores! Id, quis non
                    ullam molestiae quibusdam illum beatae! Quos debitis sit omnis, non recusandae nam eaque sint
                    assumenda tempore. Assumenda modi ducimus, laboriosam quis nemo totam odit ipsa, harum sunt dolorum
                    reprehenderit! Qui vel consequuntur perspiciatis doloribus deserunt! Consequatur totam, amet aut
                    voluptatibus necessitatibus quidem non possimus quod eius nulla pariatur nam neque reiciendis
                    similique, dolorem mollitia quae dolores fugit dolor assumenda aliquam tenetur! Voluptatibus, porro!
                    <br><br>
                    Explicabo voluptates esse debitis tenetur dolor sit et maiores culpa distinctio officia quae sint
                    veritatis eos voluptas iure, dolorem dolores molestiae fugit voluptatem. Maxime dolor similique
                    voluptate blanditiis obcaecati qui assumenda libero ipsum veniam voluptatum quis, omnis tempore
                    eveniet nam? Quod tempora eos laboriosam, quas eum, fugit similique eius repudiandae facilis
                    reprehenderit vitae amet! Molestiae soluta corporis perspiciatis iusto neque a doloremque explicabo
                    repellendus hic, doloribus odit blanditiis quo nulla sint cum, quibusdam quam deleniti fugit tempore
                    possimus inventore deserunt officiis facilis repudiandae. Soluta iure beatae rem minus vero eveniet,
                    itaque omnis ipsam iste eius architecto quae delectus natus ullam voluptas nulla possimus ipsum
                    ducimus neque quod, aut excepturi. Veniam vero, beatae officia dignissimos odit nisi temporibus
                    numquam rem sapiente maxime corporis distinctio delectus quod doloribus! Debitis eius vitae vel
                    saepe quo assumenda recusandae pariatur illum, vero repellendus dolorum doloremque dolore sapiente!
                    <br><br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}